@model ProductsListViewModel
@foreach (var Item in Model.Products)

    {
        <div>
            <h3>
                @Item.Name

            </h3>
            @Item.Description
            <h4>
                @Item.Price.ToString("c")
            </h4>
        </div>
    }
<div page-model="@Model.PagingInfo" page-action="Index"></div>